{% extends '::app.html.twig' %}

    {% block body -%}
        <div class="col-md-12">

            {% embed 'ZantolovAppBundle:CRUD/Template:crud-navigation-bar.html.twig' with {
            routePrefix: crudId,
            ignoreLinks: ['list']
            } %}{% endembed %}

            {% embed 'ZantolovAppBundle:CRUD/Template:datatable.html.twig' %}
                {% block thead %}
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Active</th>
                        <th class="col-sm-2">Actions</th>
                    </tr>
                {% endblock thead %}

                {% block item %}
                    {% trans_default_domain "ZantolovApp" %}
                    <tr>
                        <td>
                            <a href="{{ path('app.user.show', { 'id': item.id }) }}">{{ item.id }}</a>
                        </td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.enabled|fontAwesome() }}</td>
                        <td class="text-right">
                            {% include 'ZantolovAppBundle:CRUD/Template:datatable-item-actions.html.twig' with {
                            crudId: crudId,
                            showLabels: true
                            } %}
                        </td>
                    </tr>
                {% endblock item %}

            {% endembed %}
        </div>

    {% endblock %}
