{# Basic HTML5 template #}
<!doctype html>
<html lang="en">
<head>

    {% include "ZantolovAppBundle::Layout/partials/meta.html.twig" with {} %}

    {% block stylesheets -%}
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link href="{{ asset('bundles/zantolovapp/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/zantolovapp/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/zantolovapp/css/centered-columns.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/zantolovapp/css/style.css') }}" rel="stylesheet">

        {% block customStylesheets %}{% endblock %}
    {%- endblock %}

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block headEnd %}{% endblock %}
</head>
<body>

{% block outerBody %}{% endblock outerBody %}

{% block javascripts -%}
    {#<script src="{{ asset('bundles/zantolovapp/js/jquery.min.js') }}"></script>#}
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{ asset('bundles/zantolovapp/js/bootstrap.min.js') }}"></script>

    {% block customJsPlugins %}{% endblock %}

    <script src="{{ asset('bundles/zantolovapp/js/main.js') }}"></script>

{%- endblock %}
</body>
</html>